# Dependencies
node_modules
.pnpm-store

# Build outputs
dist

# Development files
.vscode
.idea

# Git
.git
.gitignore

# Documentation
README.md

# CI/CD
.github

# OS files
.DS_Store

# Environment files
.env*
